<li>Lesson 1: Intro – Why Theology?</li>
<li>Lesson 2: How Could the Finite ever Know the Infinite?</li>
<li>Lesson 3: What is the Bible?</li>
<li>Lesson 4: How do we Interpret the Bible?</li>
<li>Lesson 5: Beholding Who God is</li>
<li>Lesson 6: Beholding Who God Is, cont. (Attributes &amp; Trinity)</li>
<li>Lesson 7: Beholding Who God Is, cont. (Trinity)</li>
<li>Lesson 8: Doctrine of God the Creator</li>
<li>Lesson 9: Doctrine of Humanity – What is a Human?</li>
<li>Lesson 10: Doctrine of Sin – What Have We Done?!</li>
<li>Lesson 11: Implications of our Doctrine of Sin</li>
<li>Lesson 12: Review &amp; Preview thru Covenant Theology</li>
<li>Lesson 13: The Person of Christ</li>
<li>Lesson 14: The Person of Christ, cont.</li>
<li>Lesson 15: The Work of Christ</li>
<li>Lesson 16: The Work of Christ, cont.</li>
<li>Lesson 17: The Work of Christ in Judgment and Consummation</li>
<li>Lesson 18: The Church and Total Christ</li>
<li>Lesson 19: The Church as Communion and Institution</li>
<li>Lesson 20: Church Government</li>
<li>Lesson 21: Sacraments</li>
<li>Lesson 22: Election and Effectual Calling</li>
<li>Lesson 23: Faith and Repentance</li>
<li>Lesson 24: Justification and Adoption</li>
<li>Lesson 25: Sanctification</li>
<li>Lesson 26: Assurance &amp; Perseverance</li>
<li>Lesson 27: Good Works &amp; Law of God</li>
<li>Lesson 28: Vocations</li>
<li>Lesson 29: Marriage, Sex &amp; Gender</li>
<li>Lesson 30: Marriage, Sex &amp; Gender, cont.</li>
